.product{
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 10px;
    padding: 25px 40px;
    max-height: 400px;
    min-width: 100px;
    z-index: 1;
    
}
.product > img{
    
    max-height: 200px;
    width: 100%; 
    object-fit: contain;
    margin-bottom: 15px;
}

.product__info{
    margin-bottom: 15px;
    height: 100px;
    display: grid;
    place-items: flex-start;
   
    
}

.product > button{
    background-color: orange;
    border: 1px solid orange;
    padding: 5px 8px;
    outline: orange;
    cursor: pointer;
    font-weight: bold;
    color: rgb(7, 7, 55);
    font-size: 14px;
    border-radius: 4px;
    max-width: 140px;
    margin: 4px auto;
}
.product__rating{
    display: flex;
}